nav{
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    position: sticky;
    width: 100%;
    top: 0;
    white-space: nowrap;
    text-align: center;
    background-color: #0057AD;
    padding-bottom: 10px;
}

.nav li{
    display: inline-block;
    padding-right: 10px;
    font-size: 35px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-top: 20px;
    background-color: #0057AD;
    color: #FFCD00;
    
}
.nav ul{background-color: #0057AD}
header {
    display: flex;
    justify-content: space-between; /* Aligns children to the beginning and end of the container */
    background-color: #0057AD;
    padding: 10px; /* Add padding for spacing */
}